body {
	background-color: grey;
	font-family: 'Montserrat', sans-serif;
}

header {
	background-color: #ffffff;
}

header .container {
	height: 100px;
	width: 100%;

}

.row-header {
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	position: fixed;
	display: flex;
}

.font-27 {
	font-size: 27px;
	letter-spacing: 1px;
	line-height: 50px;
	color: rgb(60,57,80);
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.font-14 {
	font-size: 14px;
	line-height: 50px;
	color: rgb(60,57,80);
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-align: right;
}

.font-14:hover {
	border: 2px solid #3b3950;
	color: #3c3950; 
	padding: 8px 15px !important;
}

.margin-nav {
	margin: 4px 0 0 0;
}

.margin-icon1{
	margin: 29px 0 37px 0;
}

.margin-thegem {
	margin: 29px 39px 0 8px;
}

.icon {
 	margin: 45px 11.5px 42px 44px;
 	cursor: pointer;
 	display: flex;
 }

 .margin-icon {
 	margin: 0 11.5px 0 11.5px;
 	display: flex;
 }

.carousel-inner img {
   	width: 100%;
    height: 600px;
    margin-top: 100px;
 }

 .new-design-trend {
 	background-color: #ffffff;
 	height: 1145px;
 	display: flex;
 	justify-content: center;
 }

 .text-hight {
 	font-size: 50px;
 	font-family: 'Montserrat', sans-serif;
 	font-weight: bold;
	text-align: center;
	letter-spacing: 3px;
	line-height: 54px;
	background-color: #dfe5e7;
	color: #3c3950;
	margin-top: 50px;
	width: 628px;
	height: 76px
 }

 .text-low {
 	width: 1169px;
	height: 40px;
	font-size: 24px;
	line-height: 37px;
	color: rgb(95,114,127);
	font-family: "Source Sans Pro";
	font-weight: 300px;
	text-align: center;
	margin-top: 214px;
 }

 .container1 {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 <div class="text-low mx-auto">Lorem ipsum dolor sit amet, corsectetur adicipicing elit, sed do eiusmod tempor incididunt ut labore</div>

 .box {
 	width: 163px;
 	height: 215px;
 	background-color: #eff3f1;
 	margin-top: 400px;
 }

 .event {
 	height: 250px;
 	display: flex;
 	width: 100%;
 }

 .box1 {
 	background-color: #393d4f;
 	width: 33.3%;
 }

 .box2 {
 	background-color: #00c2d3;
 	width: 33.3%;
 	display: flex;
 }

 .box3 {
 	background-color: #fec53c;
 	width: 33.3%;
 	display: flex;
 }

 .text-event1-hight {
 	font-size: 15px;
	letter-spacing: 1px;
	line-height: 24px;
	color: rgb(255,255,255);
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	text-align: center;
	margin-top: 123px;
 }

 .text-event1-normal {
 	width: 364px;
	height: 59px;
	font-size: 15px;
	line-height: 23px;
	color: rgb(255,255,255);
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	text-align: center;
  margin-left: 124px;
 }

 .text-event2-normal {
  width: 364px;
  height: 59px;
  font-size: 15px;
  line-height: 23px;
  color: rgb(255,255,255);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-left: 124px;
 }

 .text-center {
  padding: 0 50px;
 }

 .text-center1 {
  padding: 0 242px;
 }

